:root {
  --orange-color: #f06449;
  --black: #000000;
  --light-white: #f5f5f5;
  --light-grey: #dfe2e0;
  --darker-grey: #b3bdba;
  --danger-color: #dc3545;
}

/* Navbar */

.brand-logo {
  color: var(--light-white);
}

nav {
  background-color: var(--black);
}

.link{
  color: var(--light-white);
}

.filter::placeholder{
  text-align: center
}

.filter{
  text-align:center
}


input[type=text]:focus {
  border-bottom: 1px solid var(--orange-color)!important;
  box-shadow: 0 1px 0 0 var(--orange-color)!important;
}

input::placeholder{
  text-align: center;
}


/* Slider */

.carousel-img{
  width:200px;
  height: 200px;
}

/* Recipe_Item */

.btn-small{
  margin-right: 5px;
}

/* React transitions */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}


.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--danger-color);
  color: #fff;
}

/* Utils */

.primary{
  background-color: var(--orange-color)
}

.secondary{
  background-color: var(--black);
}
