:root {
  --orange-color: #f06449;
  --black: #000000;
  --light-white: #f5f5f5;
  --light-grey: #dfe2e0;
  --darker-grey: #b3bdba;
  --danger-color: #dc3545;
}

body{
  overflow: scroll;
}
/* Navbar */

.brand-logo {
  color: var(--light-white);
}

nav {
  background-color: var(--black);
}

.link{
  color: var(--light-white);
}


/* Slider */

.carousel-img{
  width:200px;
  height: 200px;
}

/* Recipe_Item */

.btn-small{
  margin-right: 5px;
}

/* React transitions */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}


.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--danger-color);
  color: #fff;
}

/* Form */

.filter::placeholder{
  text-align: center
}

.filter{
  text-align:center
}


input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-bottom: 1px solid var(--orange-color)!important;
  box-shadow: 0 1px 0 0 var(--orange-color)!important;
}


input::placeholder{
  text-align: center;
}

input[type=email]::placeholder,
input[type=password]::placeholder
{
  text-align: left!important;
}

/* Utils */

.primary{
  background-color: var(--orange-color)
}

.secondary{
  background-color: var(--black);
}

.text-center{
  text-align:center!important
}

.text-1{
  color:var(--light-white)!important;
}

.text-2{
  color: var(--orange-color)!important;
}

.btn:hover:hover,
.btn-small:hover,
.btn-large:hover{
  background-color:var(--orange-color)!important;
  opacity:0.6!important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    